@keyframes move-up {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0);
	}
}

.move-up {
	animation: move-up 0.5s ease;
}

@keyframes move-down {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}

.move-down {
	animation: move-down 0.5s ease;
}
