@use '../base/mixins';

.info-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: 1;
	@include mixins.mq(medium) {
		flex-direction: column;
		align-items: flex-start;
	}

	&__label {
		font-size: var(--fz-details-label);
		text-transform: uppercase;
		letter-spacing: 2px;
		@include mixins.mq(medium) {
			margin-bottom: 1rem;
		}
	}

	&__data {
		font-size: var(--fz-details-data);
		font-weight: var(--fw-700);
	}
}
